{% extends 'base.html.twig' %}

{% block title %}Ajout d'une chambre {% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-3" >Création d'une chambre</h1>
        
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Ajouter la chambre</button>
        {{ form_end(form) }}
    </div>
    
{% endblock %}
